In [1]:
import pandas as pd
import os

# Set the path to your resources folder
csv_folder = os.path.expanduser("~/Desktop/Final-Project-4/Resources")

# List to collect DataFrames
all_years = []

# Loop through 2014 to 2025 and read each CSV
for year in range(2014, 2026):
    file_name = f'Team_{year}.csv'
    file_path = os.path.join(csv_folder, file_name)

    # Read and label each file with the season
    df = pd.read_csv(file_path)
    df['Season'] = year
    all_years.append(df)

# Combine all into one DataFrame
nba_df = pd.concat(all_years, ignore_index=True)

# Quick preview
print(nba_df.shape)
nba_df.head()

(360, 27)

,Rk,Team,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,...,AST,STL,BLK,TOV,PF,PTS,Season,G,MP,Rk
0,1.0,Los Angeles Clippers*,39.1,82.5,0.474,8.5,24.0,0.352,30.7,58.5,...,24.6,8.6,4.8,13.9,21.5,107.9,2014,NaN,NaN,NaN
1,2.0,Houston Rockets*,38.0,80.5,0.472,9.5,26.6,0.358,28.5,54.0,...,21.4,7.6,5.6,16.1,20.4,107.7,2014,NaN,NaN,NaN
2,3.0,Minnesota Timberwolves,38.9,87.5,0.444,7.3,21.4,0.341,31.6,66.1,...,23.9,8.8,3.6,13.9,18.3,106.9,2014,NaN,NaN,NaN
3,4.0,Portland Trail Blazers*,39.1,87.0,0.450,9.4,25.3,0.372,29.7,61.7,...,23.2,5.5,4.7,13.7,19.2,106.7,2014,NaN,NaN,NaN
4,5.0,Oklahoma City Thunder*,39.0,82.7,0.471,8.1,22.4,0.361,30.9,60.3,...,21.9,8.3,6.1,15.3,22.7,106.2,2014,NaN,NaN,NaN